:root {
  --primary-color: rgb(36, 36, 36);
  --secondary-color: #f3e9f1;
}

body {
  font-family: 'Nunito', sans-serif !important;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary-color);
  padding: 0 20px 0 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
footer {
  margin-top: 3rem;
}
.footer {
  background-color: var(--secondary-color);
  flex-direction: column;
  align-items: center;
  display: flex;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.footer img {
  max-width: 170px;
}

.eshop {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.eshop .elogo {
  font-size: 2rem;
}
nav {
  width: 30%;
  max-width: 180px;
}
.logo {
  width: 18%;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
}
.title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
h1 {
  font-weight: bold;
  margin: 1rem 0 1rem;
}

.home-article {
  text-align: center;
}
.card img {
  max-height: 179.4px;
  object-fit: cover;
}
ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0 1rem 0;
}
a,
a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

li a {
  display: flex;
  align-items: center;
  margin: 10px 10px;
}

.article-info span {
  padding-left: 20px;
  margin-right: 5px;
  white-space: nowrap;
}
.article-info {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.fig-width {
  width: 25%;
  min-width: 210px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-bottom-left-radius: calc(0.25rem - 1px);
  border-bottom-right-radius: calc(0.25rem - 1px);
  margin: 0 1rem 2rem;
}

figure img {
  object-fit: cover;
}

.furnitures-layout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

figcaption p {
  margin-left: 5px;
  max-width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: bold;
}

figure {
  margin: 0;
}

.img-display {
  max-width: 100%;
}

main .container {
  width: 60%;
}

.elogo {
  font-family: 'belligerent_madnessregular', Arial, sans-serif;
  font-size: 4rem;
  padding-left: 40px;
  margin-bottom: 15px;
}

.divTitle {
  margin-bottom: 2rem;
}
.divTitle span,
.unit {
  font-weight: lighter;
  font-size: smaller;
}
.divTitle h2 {
  margin: 0;
}

.divImg {
  display: flex;
  grid-gap: 4%;
}
.divPers {
  display: flex;
  flex-direction: column;
}

.divPers > * {
  margin-bottom: 2rem;
  min-width: 320px;
}

.divPers p {
  text-align: justify;
}

.divPers button {
  align-self: center;
}
.divPrice {
  display: flex;
  flex-direction: column;
}

.divPrice h3,
.divPrice span {
  text-align: end;
  margin-bottom: 0 !important;
}

div.select {
  display: flex;
  justify-content: space-between;
}

.addBasket {
  border-radius: 10px;
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
}
@media (max-width: 397px) {
  header {
    flex-direction: column;
  }
  nav {
    width: 50%;
  }

  nav ul {
    margin: 0;
  }
  p.logo {
    font-size: 3rem;
  }
}

@media (max-width: 993px) {
  div.artMedia,
  .center {
    display: flex;
    flex-direction: column !important;
    align-items: center;
  }
}
 /*-------------------------- BAG.HTML ------------------------------*/
.product-infos{
  display: flex;
  justify-content: space-around;
}

